/* Estilos footer */

footer {
    display: flex;
    position: relative;
    height: 50px;
    padding: 10px;
    background-color: #c1dcd1;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}

footer p {
    display: flex;
    text-align: center;
    margin-bottom: 0 !important;
}