/* Mixins */
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}


/* Estilos pagina Home */
#carousel-bardas {
    @include sizes(100%, 70vh);
    object-fit: cover;
}

.carousel-inner {
    height: 100%;

    img {
        object-fit: cover;
    }
}

.subtitulo {
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: 30px;
}

.subtitulo--secundario {
    @extend .subtitulo;
    text-decoration: underline
}

section#habitaciones-destacadas {
    background-color: $section-color-secondary;
}

.rooms {
    display: flex;
    justify-content: space-around;
}

.room-card {
    display: flex;
    @include sizes(300px, auto);
    //box-shadow: $shadow-variant;
    margin: 20px;

    img {
        @include sizes(300px, 200px);
    }

    &:hover {
        animation: pulse;
        animation-duration: 2s;
    }
}

.card-title {
    padding-top: 10px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    .card {
        width: 70%
    }


    .active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

#carousel-reviews {
    @include sizes(100%, auto);

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-color: $color-secondary;
        border-radius: 25%;
    }
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table,
td,
th {
    border: $border-standard;
}

/* Aca uso Map Get */
@each $room,
$estilo in $rooms {
    $estilos : $room-classic;

    @if $estilo =='featured' {
        $estilos : $room-featured;
    }

    ##{$room} {
        box-shadow: map-get($estilos, box-shadow)
    }
}