/* Variables */
$color-primary: #98c6b3;
$color-secondary: #c1dcd1;
$shadow-primary: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
$shadow-variant: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
$section-color-primary: #ffffff;
$section-color-secondary: #fafafa;
$border-standard: 1px solid black;