/* Variables */
$color-primary: #9AC5B2;
$color-secondary: #019579;
$shadow-primary: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
$shadow-variant: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
$section-color-primary: #ffffff;
$section-color-secondary: #fafafa;
$border-standard: 1px solid black;

/* Mapas */

$rooms: (
    room1: classic,
    room2: featured,
    room3: classic,
);

$room-featured: (
    box-shadow: 0 0.125rem 1.25rem rgba(197, 213, 145, 0.75)
);

$room-classic: (
    box-shadow: $shadow-variant
);