* , ::after, ::before {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000 !important
}

section h2 {
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: 30px;
}

.btn-primary{
background-color: #98c6b3;
border: none;
}

.btn-primary:hover{
    background-color: #7DA795;
    border: none;
    }

.btn-danger{
    background-color: #F06F53;
    border: none;
}

/* Estilos barra de navegacion */

header,
.rowFlex {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    height: 70px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    flex-direction: row;
    flex-wrap: nowrap;
}

header img {
    margin: 10px;
    width: 170px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
    display: flex;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    display: block;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar a:hover {
    color: #c1dcd1;
}

/* Estilos pagina Home */
#carousel-bardas {
    height: 100vh;
    width: 100%;
}

.carousel-inner {
    height: 100%;
}

section#habitaciones-destacadas {
    background-color: #fafafa;
}

.rooms {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
}

.room-card {
    display: flex;
    height: 250px;
    width: 250px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 20%);
    margin: 20px;
}

.room-card:hover {
    animation: pulse;
    animation-duration: 2s;
}

.room-card img {
    height: 200px;
    width: 250px;
}

.card-title {
    padding-top: 10px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.reviews-table {
    margin: 10px;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table,
td,
th {
    border: 1px solid black;
}

/* Estilos pagina de habitaciones */
.habitaciones {
    display: flex;
    flex-wrap: wrap;
}

.habitaciones_label {
    padding: 10px 16px;
}

.habitaciones_radio {
    display: none;
}

.habitaciones_content {
    order: 1;
    width: 100%;
    line-height: 1.5;
    display: none;
}

.slider img {
    width: 100%;
    height: 400px;
}

.iconos {
    margin: 50px 50px;
    display: flex;
    justify-content: space-between;

}


.comodidades-card {
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: all 0.5s ease;
}

.comodidades-card:hover {
    transform: scale(1.5);
}

.comodidades-card img {
    width: 100%;
}

.comodidades-card label {
    margin-top: 20px;
    padding: 20px;
    font-weight: 600;
}


.habitaciones_radio:checked+.habitaciones_label {
    font-weight: bold;
    color: #009578;
    border-bottom: 2px solid #009578;
}

.habitaciones_radio:checked+.habitaciones_label+.habitaciones_content {
    display: initial;
}

/* Estilos pagina servicios */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: space-around;
}

.service-card {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-icon {
    position: absolute;
    z-index: 2;
    border: 5px solid white;
    background-color: #c1dcd1;
    border-radius: 50%;
    padding: 20px;
    width: 80px;
    height: 80px;
}

.service-icon img {
    width: 100%;
    background: none;
}

.service-text {
    display: table;
    z-index: 1;
    background-color: #c1dcd1;
    width: 200px;
    height: 120px;
    margin-left: 35px;
}

.service-text p {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 10px;
    text-transform: uppercase;
}

.service-card:hover .service-text {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 149, 120, 0.39821866246498594) 0%, rgba(188, 223, 209, 1) 100%);
    transition: 0.7s;
}

.service-card:hover .service-icon {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 205, 166, 1) 0%, rgba(188, 223, 209, 1) 100%);
}

.service-card:hover .service-text,
.service-card:hover .service-icon {
    animation: pulse;
    animation-duration: 2s;
}

/* Estilos pagina contacto */

.contacto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 10px;
}

#banner-contacto,
#formulario {
    grid-row: 1 / 2;
}

#banner-contacto {
    grid-column: 1 / -1;
}

#banner-contacto img {
    width: 100%;
    height: 600px;
}

#formulario {
    margin-top: 30%;
    background-color: white;
    grid-column: 2 / 5;
    background-color: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(5px);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.contacto-titulo {
    text-align: center;
    padding-top: 20px;
}

#formulario h3 {
    font-weight: bold;
    color: #98c6b3;
    padding-bottom: 5px;
}

#formulario p {
    padding-bottom: 15px;
}

#formulario textarea{
    height: 100px;
}

#formulario button{
    width: 100%
}

.form-check{
    text-align: center;
}
.form-check .form-check-input{
    float: none;
}

/* Estilos pagina Sobre Nosotros */

#nosotros-titulo {
    margin-top: 30px;
}

.nosotros-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px;
    gap: 25px;
    align-items: center;
}

.nosotros-grid #nosotros-body {
    line-height: 25px;
    text-align: justify;
    text-indent: 40px;
    grid-column: 1 / 3;
}

.nosotros-grid #nosotros-imagen {
    grid-column: 3 / -1;
}

#nosotros-imagen img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Estilos footer */

footer {
    display: flex;
    position: relative;
    height: 50px;
    padding: 10px;
    background-color: #c1dcd1;
    align-items: center;
    justify-content: space-between;
}

footer p {
    display: flex;
    text-align: center;
    margin-bottom: 0 !important;
}



@media only screen and (min-width:0px) and (max-width:991px) {
    .container {
        display: grid;
        grid-template-areas:
            "header"
            "encabezado"
            "textoInformativo"
            "imgTxtInformativo"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr auto 400px auto;
    }

    .rowFlex {
        grid-area: header;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around
    }

    .rowFlex img {
        width: 90px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .navbar {
        justify-content: center;
    }

    .navbar ul {
        display: flex;
    }

    .navbar ul li {
        padding: 0px 10px;
        font-size: xx-small;
        list-style-type: none;
        position: relative;
    }

    .navbar a {
        display: block;
        width: auto;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .rooms {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iconos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotros-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #formulario fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #formulario p {
        margin: 20px
    }

    footer {
        grid-area: footer;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }

    footer p {
        font-size: small;
    }
}